@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
* {
  padding: 0;
  margin: 0;
}

body {
  font-family: 'Playfair Display', serif;
  color: #c5c6c7;
  background-image: url('https://st2.depositphotos.com/8716688/11543/v/600/depositphotos_115438396-stock-video-creepy-dark-smoke.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh !important;
  display: flex;
  flex-direction: column;
}

a {
  text-decoration: none;
  color: inherit;
}

.nav-br {
  background-color: #0b0c10ba;
}

.logo-tx {
  font-family: 'Dancing Script', cursive;
  color: #66fcf1 !important;
}

.navbar-toggler {
  background-color: #66fcf1;
}

.navbar-nav .text-light {
  color: #66fcf1 !important
}

.topDiv {
  margin-top: 80px;
  ;
  height: 90vh;
}

.name-title {
  font-family: 'Playfair Display', serif;
}

.img-person {
  box-shadow: 10px -10px 1px #45a29e
}

.btn-custom {
  margin-bottom: 20px;
  border-radius: 8px;
}

.btn-custom a:hover {
  color: #45a29e !important;
}

.abt {
  font-family: 'Playfair Display', serif;
  margin-top: 100px;
  margin-bottom: 20px;
}

.para {
  background-color: #0b0c10bc;
}

.para p {
  font-size: 18px;
}

.para .abt-me {
  margin-left: 20px;
  font-size: 30px;
  font-weight: 700;
  color: #45a29e;
}

.skills {
  margin: 60px auto;
}

.skills h1 {
  color: #66fcf1;
}

.skills ol {
  list-style: none;
  color: #45a29e
}

.skills li {
  margin: 2px 0;
}

.bar {
  background-color: #353b48;
  display: block;
  height: 2px;
  border-radius: 1px solid rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  overflow: hidden;
  box-shadow: 0 0 10px #319cffb3;
}

.bar span {
  background-color: #319cffb3;
  height: 2px;
  float: left;
}

.html {
  width: 90%;
  animation: html 3s;
}

.css {
  width: 95%;
  animation: css 3s;
}

.js {
  width: 85%;
  animation: js 3s;
}

.java {
  width: 50%;
  animation: java 3s;
}

.python {
  width: 60%;
  animation: python 3s;
}

@keyframes html {
  0% {
    width: 0%;
  }
  100% {
    width: 90%;
  }
}

@keyframes css {
  0% {
    width: 0%;
  }
  100% {
    width: 95%;
  }
}

@keyframes js {
  0% {
    width: 0%;
  }
  100% {
    width: 85%;
  }
}

@keyframes java {
  0% {
    width: 0%;
  }
  100% {
    width: 50%;
  }
}

@keyframes python {
  0% {
    width: 0%;
  }
  100% {
    width: 60%;
  }
}

.project-div {
  width: 90%;
  margin: 0 auto;
}

.proj {
  width: 375px;
  height: 200px;
  background-color: #1f2833;
  box-shadow: 0 0 10px #c6c9cd;
  margin: 10px 5px;
}

footer {
  background-color: #111;
}

.social li {
  padding: 10px;
}