@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
body {
  font-family: 'Playfair Display', serif;
}

a {
  text-decoration: none;
  color: inherit;
}

.parent {
  background-image: url('https://images.unsplash.com/photo-1483401757487-2ced3fa77952?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1yZWxhdGVkfDF8fHxlbnwwfHx8fA%3D%3D&w=1000&q=80');
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden;
}

.nav-br {
  background-color: #0b0c10;
  opacity: .7
}

.logo-tx {
  font-family: 'Dancing Script', cursive;
  color: #66fcf1 !important;
}

.navbar-toggler {
  background-color: #66fcf1;
}

.navbar-nav .text-light {
  color: #66fcf1 !important
}

.topDiv {
  margin-top: 80px;
  ;
  height: 90vh;
}

.name-title {
  font-family: 'Playfair Display', serif;
}

.img-person {
  box-shadow: 15px -15px 4px #45a29e
}

.btn-custom {
  margin-bottom: 20px;
  border-radius: 8px;
}

.btn-custom a:hover {
  color: #45a29e !important;
  ;
}